$dark-blue: #022C3E;
$aurora-teal: #1DF4DB;
$aurora-green: #165C6E;

@mixin font-style() {
    font-family: 'Roboto', sans-serif;
    color: lightgray
}

@mixin borders() {
    border: 2px solid $aurora-teal;
    display: inline-block;
    margin: 5px;
    padding: 3px;
}

body {
    background-color: $dark-blue;
}

#header {
    @include font-style();
    background-color: $aurora-green;
    font-size: 16px;
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 2;

    h2 {
        padding-top: 7px;
    }
}

.jumbotron {
    position: relative;
    padding-top: 16px;
    margin-bottom: 25px;
    img {
        width: 100%;
        height: auto;
    }
    .label {
        color: #09DFD2;
        position: absolute;
        width: 100%;
        top: 65px;
        right: 20px;
        text-align: right;
        font-family: 'Germania One', cursive;
        font-size: 70px;
        filter: blur(1px);
        opacity: 0.5;

        p {
            margin-top: 15px;
        }
    }
}

.instructions {
    width: 33%;
    display: inline-block;
    text-align: center;
    @include font-style();
    font-size: 16px;
    margin: 1px;
    
    form {
        margin-top: 15px;
        padding-bottom: 15px;
    }
}
.map {
    width: 33%;
    height: auto;
}

#forcast {
    @include font-style();
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
    .ephemeris {
        @include borders();
    }
}
